{{#each blogs}}
    <div class="blog-item">
       <a href="/blogs/{{this.id}}"><h2>{{this.title}}</h2></a> 
        <p>{{this.content}}</p>
        <p>{{this.date}}</p>
        <p>{{this.user.name}}</p>
    </div>
{{/each}}
